src/main/mule/my-timezone-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1225eb87-9523-4865-b557-4cf5aa6a56ad" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="4c21e9c0-6075-440e-a6f0-687c42f3d5ad" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="my-timezone-appFlow" doc:id="9a54d3c0-2c05-4a86-9a19-f671df4eb3c4" >
		<http:listener doc:name="Listener" doc:id="432eceb6-e05c-45b8-ae6d-7216dd28959e" config-ref="HTTP_Listener_config" path="/timezoneapp/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="582fe8e2-c7bd-4e43-9be8-8e456e06472d" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
